<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th scope="col" th:fragment="sort_header (header, column)">[[${header}]]
    <a th:href="@{/users(page=${param.page}, size=${users.size}, usernameFilter=${param.usernameFilter},
                               minAge=${param.minAge}, maxAge=${param.maxAge}, sortField=${column})}">
        <i class="fa fa-sort-down"></i>
    </a>
</th>

<th scope="col" th:fragment="sort_products(header, column)">[[${header}]]
    <a th:href="@{/products(page=${param.page}, size=${products.size}, minCost=${param.minCost},
                               maxCost=${param.maxCost}, sortBy=${column}, sortDirection=${param.direction})}">
        <i class="fa" th:classappend="${param.direction == 'ASC'} ? 'fa-sort-up' : 'fa-sort-down'"></i></a>
</th>

</html>