<div class="col-md-9 col-xs-12 mt-3">
  <nav *ngIf="!page?.empty" aria-label="...">
    <ul class="pagination">
      <li [class.disabled]="page?.first" class="page-item">
        <a (click)="goToPage(pageNumber - 1)" aria-disabled="true" class="page-link" tabindex="-1">Previous</a>
      </li>
      <li *ngFor="let num of numbers" [class.active]="pageNumber == num + 1" class="page-item">
        <a (click)="goToPage(num + 1)" class="page-link">{{num + 1}}</a>
      </li>
      <li [class.disabled]="page?.last" class="page-item">
        <a (click)="goToPage(pageNumber + 1)" class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
