<div class="row py-2">
  <div class="col-md-12 col-xs-12">

    <form>
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" id="username" name="username" type="text">
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password">
      </div>

      <div class="mb-3">
        <label class="form-label" for="matchingPassword">Repeat password</label>
        <input class="form-control" id="matchingPassword" name="matchingPassword" type="password">
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" id="email" name="email" type="email">
      </div>

      <div class="mb-3">
        <label class="form-label" for="firstName">First name</label>
        <input class="form-control" id="firstName" name="firstName" type="text">
      </div>

      <div class="mb-3">
        <label class="form-label" for="lastName">Last name</label>
        <input class="form-control" id="lastName" name="lastName" type="text">
      </div>

      <div class="mb-3">
        <label class="form-label" for="birthday">Last name</label>
        <input class="form-control" id="birthday" name="birthday" type="date">
      </div>

      <button class="btn btn-primary me-3" type="submit">Register</button>

    </form>

  </div>
</div>
